@charset "utf-8";

body {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 100%;
            background-color: #FF9;
            font-style: italic;
        }
        
        #div1a {
            background-color: #ffffff;
        }
        
        #div1 {
            
        }
        
        #div2 {
            color: #F30;
            background-color: #000099;
            text-decoration: underline;
        }
        
        #div3 {
            font-size: 3cm;
            font-style: italic;
            font-family: Georgia, "Times New Roman", Times, serif;
            background-color: #808080;
        }
        #div4 {
            background-image: url("http://werensite.nl/kerstboom.jpg");
            font-style: bold;
            font-size: 16pt;
            color: #000099;
        }