.version._____9 /* version checker */
{
	color: #0000F1;
	background-color: #892A84;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #4E94FF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#4E94FF 100%);
	background: -o-linear-gradient(left,#FFFFFF ,#4E94FF 100%);
	background: linear-gradient(to right,#FFFFFF ,#4E94FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FF4E94FF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FF4E94FF', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u360
{
	z-index: 2;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u410
{
	z-index: 14;
	width: 300px;
	background-color: transparent;
	margin-left: 40px;
	position: relative;
}

#buttonu370
{
	z-index: 4;
	width: 231px;
	background: #B52890 url("../../images/u340-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#C97AB3),color-stop(100%, #B52890));
	background: -webkit-linear-gradient(left,#C97AB3 ,#B52890 100%);
	background: -o-linear-gradient(left,#C97AB3 ,#B52890 100%);
	background: linear-gradient(to right,#C97AB3 ,#B52890 100%);
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 7px;
	margin-left: 75px;
	margin-top: 4px;
	position: relative;
}

#buttonu370:hover
{
	background: #B52890 url("../../images/u340-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#545454),color-stop(100%, #B52890));
	background: -webkit-linear-gradient(left,#545454 ,#B52890 100%);
	background: -o-linear-gradient(left,#545454 ,#B52890 100%);
	background: linear-gradient(to right,#545454 ,#B52890 100%);
	margin: 4px 0px 0px 75px;
}

#u371-4
{
	z-index: 5;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 56px;
}

#buttonu370:hover #u371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 11px -10000px 0px 0px;
}

#buttonu370:hover #u371-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu372
{
	z-index: 9;
	width: 231px;
	background: #B52890 url("../../images/u340-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#C97AB3),color-stop(100%, #B52890));
	background: -webkit-linear-gradient(left,#C97AB3 ,#B52890 100%);
	background: -o-linear-gradient(left,#C97AB3 ,#B52890 100%);
	background: linear-gradient(to right,#C97AB3 ,#B52890 100%);
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 7px;
	margin-left: 75px;
	margin-top: 3px;
	position: relative;
}

#buttonu372:hover
{
	background: #B52890 url("../../images/u340-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#545454),color-stop(100%, #B52890));
	background: -webkit-linear-gradient(left,#545454 ,#B52890 100%);
	background: -o-linear-gradient(left,#545454 ,#B52890 100%);
	background: linear-gradient(to right,#545454 ,#B52890 100%);
	margin: 3px 0px 0px 75px;
}

#u373-4
{
	z-index: 10;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 56px;
}

#buttonu370.ButtonSelected #u371-4,#buttonu372:hover #u373-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 11px -10000px 0px 0px;
}

#buttonu372.ButtonSelected #u373-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 11px -10000px 0px 0px;
}

#buttonu372:hover #u373-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u641-4
{
	z-index: 16;
	width: 135px;
	min-height: 15px;
	background-color: transparent;
	font-size: 8px;
	line-height: 10px;
	color: #7F7F7F;
	margin-left: 245px;
	margin-top: 60px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

